<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/static/u3-main.css" />
	
	<title>unit3 Blog</title>
</head>

<body>
	<a href="/unit3/blog" class="main-title"> CS 253 Unit 3 Blog </a>

	<div id="content">

		<div class="post">
			<div class="post-heading">
				<div class="post-title">title</div>
				<div class="post-date">May 01, 2012</div>
			</div>

			<div class="post-content">Finally, someone who uses Helvetica,
				Arial for font-family instead of Arial, Helvetica. =)</div>
		</div>

		<br>
		<br>

		<div class="post">
			<div class="post-heading">
				<div class="post-title">title 2</div>
				<div class="post-date">May 02, 2012</div>
			</div>

			<div class="post-content">Some text here....</div>
		</div>
	</div>

</body>
</html>