<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/static/u3-main.css" />

	<title>unit3 Blog</title>
</head>

<body>
	<a href="/unit3/blog" class="main-title"> CS 253 Unit 3 Blog </a>

	<div id="content">

		<h2>new post</h2>

		<form method="post" action="">
			<label>
				<div>subject</div> <input type="text" name="subject" value="{{title}}">
			</label> <label>
				<div>blog</div> <textarea name="content" cols="" rows="">{{body}}</textarea>
			</label>

			<div class="error">{{error}}</div>

			<input type="submit">
		</form>

	</div>
</body>

</html>